@import "../../../style-config/mixins.scss";
@import "../../../style-config/variable.scss";

.intro-content {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    .layout{
        .left-col{
          width: 45%;
          .title{
            display: flex;
            flex-direction: column;
            color: $white;
            .small-text{
                @include typography(42px, 400, 48px);
                display: flex;
                align-items: center;
                .icon{
                    margin-left: 10px;

                }
            }
            .big-text{
                @include typography(62px, 400, 72px);
            }
          }
          p{
            color: $white;
            @include typography(18px, 400, 24px);
            margin:25px 0;
          }  
        }
    }
}